* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #578d8f;
  font-family: "Eudoxus sans";
}

.container {
  padding: 20px;
  padding-bottom: 30px;
  background: #f4fcff;
  border-radius: 1rem;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.container .search-box {
  height: 40px;
  display: flex;
  align-items: center;
}

.container .search-box input {
  all: unset;
  height: 40px;
  width: 100%;
  padding-left: 40px;
  padding-right: 10px;
  font-size: 15px;
  border: 2px solid #1f5f61;
  border-radius: 30px;
  background: #fff;
}

.container .search-box input::placeholder {
  font-size: 15px;
}

.container .fa-magnifying-glass {
  position: absolute;
  left: 35px;
  font-size: 10px;
  color: #1f5f61;
}

.container .displaying-message {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  color: #708090;
  margin-left: 50px;
  position: relative;
  top: 14px;
  color: #696969;
}

.container .meal-image {
  height: 140px;
  width: 150px;
  border-radius: 100%;
  background: #1f5f61;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container .meal-image img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.container .view-recipe-btn {
  all: unset;
  margin-top: 220px;
  background-color: #1f5f61;
  color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

.container .meal-details {
  width: 205px;
  border-radius: 30px;
  font-size: 14px;
  background: #d83f41;
  text-align: center;
  padding: 7px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 170px;
  background: white;
  border: 2px solid #1f5f61;
}

.container .meal-name {
  font-weight: 600;
  color: #1f5f61;
}

.container .meal-area {
  color: #696969;
}

.container .ingredients-box {
  position: relative;
  top: 205px;
}

.container .ingredients-box ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.8em 1.1em;
  padding: 1.2em 0 0 1.2em;
  font-size: 1em;
}

.container .ingredients-box li {
  font-size: 12px;
}

.container .recipe-box {
  position: absolute;
  top: 0;
  left: 0;
  background: #F4FCFF;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  padding: 25px;
  left: -100%;
  transition: all 0.2s;
  overflow-y: scroll;
}

.container .recipe-box::-webkit-scrollbar {
  display: none;
}

.container .recipe-box .close-btn {
  height: 35px;
  width: 35px;
  background: #1F5F61;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  float: right;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 27px;
}

.container .recipe-box .Instructions {
  position: relative;
  top: 5px;
  font-size: 0.95em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

::selection {
  background: rgba(24, 99, 95, 0.8);
  color: white;
}
